@model Post

<div class="main">
    <div class="card-body">
        <a>
            <h5 class="card-title">
                @Model.Title;
            </h5>
            <h6>
                ID:
                @Model.Id,

            </h6>
            <h6>
                ShortDes:
                @Model.ShortDescription

            </h6>
            <h6>
                PostedDate:
                @Model.PostedDate

            </h6>
            <h6>
                Category Name:
                @Model.Category.Name

            </h6>
            <h6>
                FullName:
                @Model.Author.FullName

            </h6>
            <article class="blog-entry mb-10">
                <div class="card">
                    <div class="row g-0">
                        <div class=" col-md">
                            <img src="/@Model.ImageUrl"
                                 class="card-img"
                                 alt="@Model.Title" />
                        </div>
                    </div>
                </div>
            </article>

        </a>
    </div>

</div>



